</body>
<div id="reportbug">
    <div>
        <a href="/suggestion"><span></span>
            <h5>Report a Bug or Suggest a Change!</h5>
        </a>
    </div>
</div>
<div class="footer">
    <div id="footertext">
        <p>Website designed by <a href="https://github.com/PaulSaunders90/">Paul Saunders</a> 
            © 2021</p>
    </div>
</div>

</html>