<!DOCTYPE html>
<html>

<head>
  <title>Crypto Companion</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Crypto Companion, A Cryptocurrency News and Data Hub">
  <meta name="keywords" content="HTML5, CSS3, JavaScript, ES6, Cryptocurrency">
  <meta name="author" content="PJS Development">
  <link href="https://fonts.googleapis.com/css?family=Oswald:500&display=swap" rel="stylesheet">
  <script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>

<body>
  <nav class="navbarcontainer">
    <div id="navbar">
      <a class="navbar-brand" href="/">
      </a>
      <p class="navtitle">Crypto Companion</p>
      <div class="navbar-nav">
        <a class="nav-link" href="/">News</a>
        <a class="nav-link" href="/">Price</a>
        <a class="nav-link" href="/">Research</a>
      </div>
    </div>
  </nav>