<% include partials/header %>

<div class="generalcontainer">
    <div id="errorcontainer">
        <section id="error">404 Error</section>
        <div id="errorimage"></div>
        <div id="errortext">You've done something wrong. Go back and hopefully don't do it again.</div>
    </div>
</div>

<% include partials/footer %>