<% include partials/header %>


    <div id="pricefeedcontainer">
        <div class="pricefeed">
            <coingecko-coin-price-marquee-widget coin-ids="bitcoin,ethereum,link,fantom,reserve-rights-token"
                currency="usd" background-color="#1c1c1c" locale="en" font-color="#fcc117">
            </coingecko-coin-price-marquee-widget>
        </div>
    </div>
    <div class="generalcontainer">
        <div class="wrapper">
            <div id="headlinenews">
            </div>
            <div id="oldnews">
                <div id="oldnewsheader">Recent News: </div>
            </div>
        </div>
        <script>!function () { var e = document.getElementsByTagName("script"), t = e[e.length - 1], n = document.createElement("script"); function r() { var e = crCryptocoinPriceWidget.init({ base: "USD,EUR,CNY,GBP", items: "BTC,ETH,LTC,XMR,DASH,LINK,FTM,RSR,DOT,ADA,UNI,AAVE,TRX", backgroundColor: "19284D", streaming: "1", rounded: "1", boxShadow: "1", border: "1" }); t.parentNode.insertBefore(e, t) } n.src = "https://co-in.io/widget/pricelist.js?items=BTC%2CETH%2CLTC%2CXMR%2CDASH%2CLINK%2CFTM%2CRSR%2CDOT%2CADA%2CUNI%2CAAVE%2CTRX", n.async = !0, n.readyState ? n.onreadystatechange = function () { "loaded" != n.readyState && "complete" != n.readyState || (n.onreadystatechange = null, r()) } : n.onload = function () { r() }, t.parentNode.insertBefore(n, null) }();</script>
        <div id="card">
            <a href="https://chain.link/" target="_blank">
                <figure id="cotm1">
                    <div class="date"><span class="card-date-month"><b>$LINK</b></span>
                    </div>
                    <figcaption>
                        <h4> <span>Research Oracle Network</span></h4>
                        <p>Chainlink</p>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div id="card">
            <a href="https://fantom.foundation//" target="_blank">
                <figure id="cotm2">
                    <div class="date"><span class="card-date-month"><b>$FTM</b></span>
                    </div>
                    <figcaption>
                        <h4> <span>Research Smart Contract Platform</span></h4>
                        <p>Fantom</p>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div id="card">
            <a href="https://reserve.org/" target="_blank">
                <figure id="cotm3">
                    <div class="date"><span class="card-date-month"><b>$RSR</b></span>
                    </div>
                    <figcaption>
                        <h4> <span>Research Collateral Token</span></h4>
                        <p>Reserve Rights</p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>


    <% include partials/footer %>
        <script type="text/javascript" src="/scripts/landingFunctions.js"></script>