/* General Containers */

html, body {
    position: relative;
    width: 100%;
    background-color: #161f36;
    font-family: 'Oswald', sans-serif;
}

.generalcontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar Design  */

.navbarcontainer {
    background-color: #19284d;
    width: 100%;
    color: white;
    top: 0;
    z-index: 100;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.22);
    position:sticky;
    user-select: none;
    display: inline-flex;
}

#navbar {
    background-color: #19284d;
    padding: 10px 0;
    display: inline-flex;
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

.navbar-brand {
    display: inline-flex;
    width: 50px;
    height: 40px;
    background-image: url('/img/header/headbrand.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    padding: 0;
    margin-left: 15px;
}

.navtitle{
    width: 50px;
    height: 40px;
    display: inline-flex;
    text-decoration: none;
    font-size: 14px;
    color: #fcc117;
    margin-right: 15px;
    text-align: center;
}

.navbar-nav {
    display: inline-flex;
    text-decoration: none;
    margin: auto;
}

@media(min-width:320px){
    .navbar-nav{
        font-size: 14px;
        margin-left: 15px;
    }
}

@media(min-width:550px){
    .navbar-nav{
        font-size: 30px;
    }
}

.nav-link {
    text-decoration: none;
    margin-left: 15px;
    margin-right: 10px;
    color: white;
    transition: 0.3s;
}

.nav-link:hover{
    color: #fcc117;
    transition: 0.3s;
}

/* Report Bug Feature */

#reportbug {
    max-width: 100%;
    background-color:#19284d;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
}

#reportbug div a {
    margin-top: 25px;
    text-decoration: none;
}

#reportbug span {
    height: 100px;
    width: 125px;
    display: inline-block;
    background-image: url('/img/error/error.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#reportbug h5 {
    color: #fcc117;
}

@media(min-width: 320px) {
    #reportbug h5 {
        font-size: 13px;
    }
}

@media(min-width: 770px) {
    #reportbug h5 {
        font-size: 20px;
    }
}

/* Footer Text */

.footer{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    text-align: center;
}

#footertext {
    width: 100%;
    margin: 25px 0;
    right: 0;
    font-size: 12px;
    text-align: center;
    color: #FFFAF0;
}

#footertext p a{
    color: #FFFAF0;
    text-decoration: underline;
}